<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.huntingtonrobotics.frcrecyclerushpitscouter">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.Camera"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".TeamListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TeamPagerActivity"
            android:label="@string/app_name" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".TeamListActivity"/>
        </activity>
        <activity android:name=".RobotCameraActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            ></activity>
        <activity
            android:name=".SendActivity"
            android:label="@string/app_name" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".TeamListActivity"/>
        </activity>
        <activity
            android:name=".bluetoothchat.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name">

        </activity>

        <activity

            android:name=".bluetoothchat.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Light"/>
    </application>

</manifest>
